<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AI webBot</title>
    <link rel="stylesheet" href="/static//css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <footer>
        
        <section class="submit gradient-bg">
            <div class="sub_container">
                <div class="left">
                    <form action="">
                        <h1>Liên hệ với chúng tôi nếu bạn có bất kì câu hỏi nào</h1>

                        <div class="input-group">
                            <label for="name">Name</label>
                            <input id="name" type="text" class="input" placeholder="Tên của bạn"/>
                        </div>
                        
                        <div class="input-group">
                            <label for="email">Email</label>
                            <input id="email" type="text" class="input" placeholder="Thông tin thư điện tử"/>
                        </div>

                        <div class="input-group">
                            <label for="message">Message</label>
                            <textarea id="message" rows="5" class="input" placeholder="Câu hỏi của bạn với chúng tôi?"></textarea>
                        </div>
                        
                        <div class="btn-wrapper">
                            <a href="" class="filled-btn">Submit</a>
                        </div>

                    </form>
                </div>
                <div class="right">
                    <h1>Giới thiệu về nhóm</h1>
                    <p>
                        
                    </p>
                    <div class="members">
                        <h2>Xem mã nguồn sản phẩm tại đây</h2>
                        <a href="https://github.com/viet003/Face_Recognition" class="button">
                            Let's go!
                        </a>
                    </div>
                </div>
            </div>
        </section>
        
        
        <div class="policy">
            <ul>
                <li><a href="">Cài Đặt Cookie</a></li>
                <li><a href="">Chính sách Bảo mật</a></li>
                <li><a href="">Điều Khoản và Điều Kiện</a></li>
                <li><a href="">XUẤT BẢN BỞI</a></li>
                <li><a href="">© 2020 Công ty TNHH Team 15 Việt Nam</a></li>
            </ul>
        </div>
    </footer>
</body>

</html>